.card {
  background-color: #111;
  color: #FFF;
  font-size: 1.6em;
  margin: 16px;
  position: relative;
  width: 888px;
  overflow-wrap: break-word;
}

.card-img {
  position: absolute;
  left: 4px;
  height: 128px;
}

.card-body {
  position: absolute;
  left: 182px;
  text-align: left;
}

.card-title {
  font-size: 32px;
  margin-top: 8px;
}
.card-info {
  font-size: 12px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.card-line {
  width: auto;
  height: 2px;
  background-color: #DDD;
}
.card-summary {
  font-size: 16px;
  margin-top: 8px;
}
